# MySQL settings
MYSQL_ROOT_PASSWORD=rene11
MYSQL_DATABASE_HOST=mysql
MYSQL_DATABASE=otpmonitor
MYSQL_NI_DATABASE_HOST=mysql
MYSQL_AMD_SMPP_GW_DATABASE_HOST=mysql
MYSQL_ABP_DATABASE_HOST=mysql
MYSQL_PRICING_DATABASE_HOST=mysql

MYSQL_ABP_DATABASE=ABP_test
MYSQL_NI_DATABASE=number_insight_test_full_data
MYSQL_AMD_SMPP_GW_DATABASE=amd_smpp_gw
MYSQL_PRICING_DATABASE=pricing
MYSQL_USER=otpmonitor
MYSQL_PASSWORD=rene11

# phpMyAdmin settings
PMA_ARBITRARY=1
PMA_HOST=mysql
PMA_PORT=3306
PMA_USER=root
PMA_PASSWORD=rene11

CPHALCON_VERSION=3.0.4
PROJECT=abp

# Application
WEB_DOCUMENT_ROOT=/project/public
WEB_ALIAS_DOMAIN=phalcon.local
APPLICATION_CACHE=/project/cache
APPLICATION_LOGS=/project/logs
# production | development | staging | testing
APPLICATION_ENV=development

# Debug
# Note: For debugging purposes you have to setup Xdebug by passing required parameters
PHP_DEBUGGER=xdebug

# Please provide your host (local machine IP) instead of 192.168.1.129
XDEBUG_REMOTE_HOST=192.168.1.129

# php.ini value for xdebug.remote_port
XDEBUG_REMOTE_PORT=9000

# php.ini value for xdebug.remote_autostart
# XDEBUG_REMOTE_AUTOSTART=0

# php.ini value for xdebug.remote_connect_back
XDEBUG_REMOTE_CONNECT_BACK=0

MONGODB_PASS=rene11
#MONGO_URL=


ME_CONFIG_BASICAUTH_USERNAME=kirdia
ME_CONFIG_BASICAUTH_PASSWORD=rene11
ME_CONFIG_MONGODB_ENABLE_ADMIN=true
ME_CONFIG_MONGODB_ADMINUSERNAME=admin
ME_CONFIG_MONGODB_ADMINPASSWORD=rene11
ME_CONFIG_MONGODB_PORT=27017
ME_CONFIG_MONGODB_SERVER=mongodb
ME_CONFIG_OPTIONS_EDITORTHEME=default
#ME_CONFIG_SITE_SSL_ENABLED=false
